body {
  background-color: gray;
}

h1 {
  color: lightblue;
  text-align: center;
}

p {
  font-family: "Times New Roman";
  font-size: 15px;
  margin: 30px;
  background:white;
  border: 1px solid black;
  outline: 1px solid lightblue;
  outline-offset: 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none;
}
li a:hover {
  background-color: lightblue;
}
h2 {
  color:white;
}
